.bg{
  height: 850px;
  overflow: hidden;
  background: url("../../../src/assets/5-1.jpg") no-repeat 0 0;
  -webkit-background-size: 100% 850px;
  background-size: 100% 850px;
  .Block1,
  .Block2,
  .Block3,
  .Block4,
  .Block5,
  .Block6,
  .Block7,
  .Block8,
  .Block9,
  .Block10,
  .Block11,
  .Block12,
  .Block13,
  .Block14,
  .Block15{
    width: 56px;
    height: 24px;
    position: absolute;
    z-index: 2;
    background: #040000;
  }
  .Block1{
    top: 39%;
    left: 24.3%;
  }
  .Block2{
    top: 42%;
    left: 24.3%;
  }
  .Block3{
    top:54.3%;
    left: 24%;
  }
  .Block4{
    top:57.3%;
    left: 24%;
  }
  .Block5{
    top:70.3%;
    left: 20%;
  }
  .Block6{
    top:75.3%;
    left: 20%;
  }
  .Block7{
    top:80%;
    left: 23%;
  }
  .Block8{
    top:76%;
    left: 35%;
  }
  .Block9{
    top:76%;
    left: 38.5%;
  }
  .Block10{
    top:76%;
    left: 42%;
  }
  .Block11{
    top:76%;
    left: 45.4%;
  }
  .Block12{
    top:76%;
    left: 48.7%;
  }
  .Block13{
    top:76%;
    left: 52.5%;
  }
  .Block14{
    top:76%;
    left: 60%;
  }
  .Block15{
    top: 36%;
    left: 60%;
  }
  .Dot1,
  .Dot2,
  .Dot3,
  .Dot4,
  .Dot5,
  .Dot6,
  .Dot7,
  .Dot8,
  .Dot9{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
  }
  .Dot1,
  .Dot2,
  .Dot3,
  .Dot4,
  .Dot5,
  .Dot6{
    background: #a7adab;
  }
  .Dot7,
  .Dot8,
  .Dot9{
    background:#52fe55;
  }
  .Dot1{
    top: 46%;
    left: 36%;
  }
  .Dot2{
    top: 64%;
    left: 36%;
  }
  .Dot3{
    top: 46%;
    left: 76.5%;
  }
  .Dot4{
    top: 64%;
    left: 76.5%;
  }
  .Dot5{
    top: 49%;
    left: 80.6%;
  }
  .Dot6{
    top: 61%;
    left: 80.6%;
  }
  .Dot7{
    top: 30%;
    left: 65.5%;
  }
  .Dot8{
    top: 61%;
    left: 61.5%;
  }
  .Dot9{
    top: 44%;
    left: 61.5%;
  }
}
