.bg{
  position: relative;
  height: calc(~"100vh - 98px");
  overflow: hidden;
  background: url("../../../src/assets/4-1.jpg") no-repeat 0 0;
  -webkit-background-size: 100% calc(~"100vh - 98px");;
  background-size: 100% calc(~"100vh - 98px");
  .Form{
    position: absolute;
    top: 25.6%;
    left: 25.24%;
    width: 3vw;
    height: 9.2vh;
    background: #000;
    .Scale{
      position: absolute;
      left: 5px;
      top: 1px;
      width: 0.4vw;
      height: 98%;
      background: #b5b2ad;
      .ScaleGreen{
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 80%;
        background: #21ec24;
      }
    }
  }
  .Block1,
  .Block2{
    height: 3vh;
    position: absolute;
    z-index: 2;
    line-height:2.3vh;
    font-size:12px;
    text-align: center;
  }
  .Block1{
    top: 29%;
    left: 42%;
    background:#e4e6e8
  }
  .Block2{
    top: 29%;
    left: 47%;
    background:#4df550
  }
}
