.bg{
  position: relative;
  height: calc(~"100vh - 98px");
  overflow: hidden;
  background: url("../../../src/assets/10-1.jpg") no-repeat 0 0;
  -webkit-background-size: 100% calc(~"100vh - 98px");
  background-size: 100% calc(~"100vh - 98px");
}
